node_modules
package-lock.json

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
projects/*/node_modules
/projects/*/node_modules
/.pnp
/projects/*/.pnp
.pnp.js
/projects/*/.pnp.js

# testing
/coverage
/projects/*/coverage

# next.js
/.next/
/projects/*/.next/
/out/
/projects/*/out/

# production
/projects/*/build
/projects/*/projects/*/build

# misc
.DS_Store
/projects/*/.DS_Store
*.pem
/projects/*/*.pem

# debug
npm-debug.log*
/projects/*/npm-debug.log*
yarn-debug.log*
/projects/*/yarn-debug.log*
yarn-error.log*
/projects/*/yarn-error.log*
.pnpm-debug.log*
/projects/*/.pnpm-debug.log*

# local env files
.env*.local
/projects/*/.env*.local

# vercel
.vercel
/projects/*/.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/projects/*/next-env.d.ts
/projects/*/*.tsbuildinfo

package-lock.json
/projects/*/package-lock.json

